@import url(https://fonts.googleapis.com/css?family=Roboto);

#header {
  background-color: rgb(219, 68, 55);
  height: 200px;
}

logo{
  padding: 0;
  display: block;
  margin: 0 auto auto 0;

  height: 100px;
  width: 100px;
  max-height: 100px;
  max-width: 100px;
}

#content {
  background-color: white;
  width: 850px;
  margin: auto;
  height: 800px;
  margin-top: -100px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

#content-line {
  background-color: rgb(255, 138, 128);
  height: 8px;
}

#main-content {
  position: relative;
  padding: 34px 17px;
}

.side-menu {    
        position: fixed;
        padding: 2px;
        text-align:center;
        top: 200px;
        left: 80%;
        width: 43px;
        height: auto;
        background-color: white;
        box-shadow: 1px 1px 1px 1px #aaaaaa;
}
    
.add-question {
        cursor: pointer;
}

body {
  margin: 0px;
  background-color: rgb(251, 233, 231);
	font-family: Ubuntu-Regular, sans-serif;
}

form {
  padding: 15px;
  font-size: inherit;
}

input {
  padding: 8px;
  margin-top: 10px;
  font-size: 35px;
  outline: none;
}

input[type="topic"]{
  display: block;
  border: none;
  border-bottom: 2px solid rgb(255, 138, 128);
  width: 100%;
}

input[type="text"]{
  font-size: 15px;
  display: block;
  border: none;
  border-bottom: 2px solid rgb(255, 138, 128);
  width: 100%;
}

questionshot {
  margin: 0px;
  background-color: rgb(255, 0, 0);
	font-family: Ubuntu-Regular, sans-serif;
}