@import url(https://fonts.googleapis.com/css?family=Roboto);

html{
  font-size: 62.5%;
}

#header {
  background-color: rgb(219, 68, 55);
  height: 200px;
}

img {
  position: fixed;
  padding: 15px;
  max-width: 100%;
  min-width: 20%;
  width: 12%;
  height: auto !important;
  }

#content {
  background-color: white;
  width: 60%;
  min-width: 50%;
  margin: auto;
  height: 100%;
  min-height: 800px;
  margin-top: -100px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

#content-line {
  background-color: rgb(255, 138, 128);
  height: 5px;
}

#main-content {
  position: relative;
  padding: 34px 17px;
}

.side-menu {    
        position: fixed;
        padding: 2px;
        text-align:center;
        top: 200px;
        right: 80px;
        width: 43px;
        height: auto;
        background-color: white;
        box-shadow: 1px 1px 1px 1px #aaaaaa;
}
    
.add-question {
        cursor: pointer;
}

body {
  margin: 0px;
  background-color: rgb(251, 233, 231);
	font-family: Ubuntu-Regular, sans-serif;
}

form {
  padding: 15px;
  font-size: inherit;
}

input {
  padding: 8px;
  margin-top: 10px;
  font-size:inherit;
  outline: none;
  width: 100%;
  border: none;
  display: block;
  border-bottom: 0.5px solid rgb(196, 196, 196);
}

input[type="topic"]{
  font-size: 30px;
}

input:focus{
  border-bottom: 1.5px solid rgb(255, 138, 128);

}

textarea {
  padding: 8px;
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 150px;
  outline: none;
  border: none;
  border-bottom: 0.5px solid rgb(196, 196, 196);
  resize:none;
}

textarea:focus {
  border-bottom: 1.5px solid rgb(255, 138, 128);

}

questionshot {
  margin: 0px;
  background-color: rgb(255, 0, 0);
	font-family: Ubuntu-Regular, sans-serif;
}