{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Document</title>
</head>

<body>
        <div id="header"></div>
        
        <div class="side-menu">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-plus-sign"></span>                
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="cursor: pointer;">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">คำตอบสั้น</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">คำตอบยาว</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">สเกล</a></li>
                </ul>
            </div>

            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </div>

        <div id="content">
            <div id="content-line"></div>
            <form>
                <input name="topic" type="topic" placeholder="หัวข้อ">
                <input name="description" type="text" placeholder="คำอธิบาย">

            </form>
            
        </div>
          
    <script  src={% static 'js/main.js' %}></script>
</body>
</html>