{% load static %}


<!-- <div>
        hello
</div> 
<div>
    ไอซ์
</div> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Document</title>
</head>

<body>
        <div id="header"></div>
        <div class="side-menu">
                <h3 class="add-question" data-toggle="tooltip" data-placement="right" title="Add a question">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </h3>
    
                <h3 data-toggle="tooltip" data-placement="right" title="Submit your Form" class="submit-question" style="cursor: pointer;">
                    <span class="glyphicon glyphicon-play-circle"></span>
                </h3>
            </div>
        <div id="content">
            <div id="content-line"></div>
        </div>
          
    <script  src={% static 'js/main.js' %}></script>
</body>
</html>